:root {
    --color-1: #00BECC;
    --color-2: #06090E;
    --color-3: #0A2648;
    --color-4: #602669;
    --color-5: #ffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--color-3);
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-3);
}

.section-title {
    justify-content: center;
    padding-bottom: 20px;
    text-align: center;
    margin: 0px auto 0px auto;
    width: 50%;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-size: 40px;
}

/* START OF HEADER SECTION */
header {
    padding: 20px 35px;
    background-color: var(--color-2);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

header a {
    text-decoration: none;
}

header h1 {
    font-weight: bold;
    font-size: 50px;
    color: var(--color-4);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 50px;
    font-weight: bold;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: var(--color-1);
    text-decoration: none;
}

header nav ul li a:hover {
    background: var(--color-1);
    color: var(--color-4);
    border-radius: 15px;
    text-shadow: none;
}
/* END OF HEADER SECTION */


/* START OF ABOUT ME SECTION */
.about {
    background-image: url("../images/blue-background.jpg");
    background-size: cover;
    background-position: center;
    align-items: stretch;
    background-attachment: fixed;
    background-position: 80%;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.about h2 {
    color: var(--color-1);
    text-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.about-content {
    text-align: left;
    color: #fff;
    font-size: 18px;
    line-height: 1.2;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 77%;
    padding-bottom: 10px;
}

#headshot {
    width: 300px;
}

#about-text {
    width: 50%;
}

.about p {
    padding: 15px 20px;
    font-weight: bold;
    font-size: auto;
    color: var(--color-5);
    text-shadow: 0 0 10px rgba(0, 0, 0, 1);
}
/* END OF ABOUT ME SECTION */


/* START OF MY WORK SECTION */
.work {
    background-color: var(--color-1);
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.work h2 {
    justify-content: left;
}

.project-1 {
    margin: 20px;
    background: var(--secondary-color);
    color: var(--primary-color);
    flex: 1;
    justify-content: center;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 60%;
}

.project-1 img {
    width: 100%;
}

.project-1 p {
    color: var(--color-4);
    font-weight: bold;
}

.project {
    margin: 20px;
    background: var(--secondary-color);
    color: var(--primary-color);
    flex: 1;
    justify-content: center;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
}

.project img {
    width: 75%;
}

.project-name {
    font-size: 28px;
}

.project-summary {
    color: var(--color-4);
    font-weight: bold;
}
/* END OF MY WORK SECTION */


/* START OF CONTACT ME SECTION */
.contact {
    background-color: var(--color-3);
    width: 100%;
}

.contact h2 {
    color: var(--color-5);
    justify-content: center;
}

.contact-info {
    justify-content: center;
    text-align: center;
    margin: 0 auto 10px auto;
    width: 50%;
}

.contact-info a {
    color:var(--color-1);
    text-decoration: none;
    font-size: 25px;
}

.contact-info a:hover {
    background: var(--color-1);
    color: var(--color-4);
    border-radius: 15px;
    text-shadow: none;
}
/* END OF CONTACT ME SECTION */

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    .section-title {
        width: 80%;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 780px) {
    section {
        padding: 30px 15px;
    }

    .about > * {
        flex: 0 100%;
    }

    .about h2 {
        flex: 1 100%;
        text-align: center;
    }

    .about p {
        width: 100%;
        text-align: left;
    }

    #headshot {
        width: 100%;
    }

    .about p {
        width: 100%;
    }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width:575px) {

    .section-title {
        width: 95%;
    }

    #about-text {
        width: 100%;
    }

    .work {
        flex: 0 100%;
    }

    .contact {
        text-align: center;
    }

    .contact > * {
        flex: 0 100%;
    }
}